.App {
 
}

.App-logo {
  display: flex;
  height: 12vmin;
  pointer-events: none;
}

/* App.css */
.nav-link {
padding: 0;
  color: black; /* Default text color */
  text-decoration: none;
}

.nav-link:hover{
  /* font-weight: bold; */
  color: black; /* Text color on hover  */
  text-decoration: underline; /* Underline on hover */
  text-underline-offset: 1.5em; /* Adjust gap between text and underline */
}
.active-nav-link {
  font-weight: bold;
  color: black; /* Text color on active */
  text-decoration: underline; /* Underline on active */
  text-underline-offset: 1.5em; /* Adjust gap between text and underline */
}

.form-control:focus{
  box-shadow: none;
}

.placeholder::placeholder{
  color: black;
  font-size: 1.2rem;
  font-family: cursive !important;
}