.App {
 
}

.App-logo {
  display: flex;
  height: 7vmin;
  pointer-events: none;
}


.default-scrollbar::-webkit-scrollbar{
  display: none;
}

.three-line-text {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Show only 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}
.two-line-text {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Show only 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

.read-more-link {
  color: #007bff;
  cursor: pointer;
  font-weight: 500;
  margin-left: 5px;
  text-decoration: underline;
}



.form-control:focus{
  box-shadow: none;
}

.placeholder::placeholder{
  color: black;
  font-size: 1.2rem;
}



.contact-input{
  width: 60%
}

.submit-button{
  
  border-radius: 5%;
  background: white;
  padding: 5px 10px;
}

.responsive-margin{
  margin: 2vh 10vw;
  gap: 5vh;
}

.blog-cards{
  min-width: 260px;
  max-width: 350px;
}
.card-img{
  height: 200px;
  width: 100%;
  /* color: #df880d */
}

/* .quiz-button:hover{
  background: #4B643D !important;
  color: white !important;
} */

@media (max-width: 767px) {
  .contact-input {
    width: 100%;
  }

  .responsive-margin{
    margin: 2vh 7vw;
    gap: 1vh;
  }
  .blog-text{
    text-align: justify;
  }

  .myth-section-responsive{
  flex-direction: column;
  }
  .dropdown-width{
    width: 100% !important;
  }
  .blog-cards{
    min-width: 100%;
  }
  .card-img{
    height: auto;
    width: 100%;
  }
  .font-mobile{
    font-size: 0.8rem !important;
  }
}