.App {
 
}

.App-logo {
  display: flex;
  height: 7vmin;
  pointer-events: none;
}

/* App.css */
.nav-link {
padding: 0;
  color: black; /* Default text color */
  text-decoration: none;
}
.default-scrollbar::-webkit-scrollbar{
  display: none;
}

.three-line-text {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Show only 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}
.two-line-text {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Show only 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

.read-more-link {
  color: #007bff;
  cursor: pointer;
  font-weight: 500;
  margin-left: 5px;
  text-decoration: underline;
}

.nav-link:hover{
  /* font-weight: bold; */
  color: black; /* Text color on hover  */
  text-decoration: underline; /* Underline on hover */
  text-underline-offset: 2.2em; /* Adjust gap between text and underline */
}
.active-nav-link {
  font-weight: bold;
  color: black; /* Text color on active */
  text-decoration: underline; /* Underline on active */
  text-underline-offset: 2em; 
  text-decoration-thickness: 3px;
}

.form-control:focus{
  box-shadow: none;
}

.placeholder::placeholder{
  color: black;
  font-size: 1.2rem;
  font-family: cursive !important;
}